<%-include('../layouts/header') %>
<%-include('../layouts/sidebar') %>
<style>
  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

input[type=number] {
  -moz-appearance: textfield;
}
</style>
 <!-- Content Wrapper. Contains page content -->
 <div class="content-wrapper">
   <!-- Content Header (Page header) -->
   <section class="content-header">
     <h1>
       
       <small></small>
     </h1>
     <ol class="breadcrumb">
       <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
       <li><a href="#">Tables</a></li>
       <li class="active">Data tables</li>
     </ol>
   </section>

   <!-- Main content -->
   <section class="content">
     <div class="row">
       <div class="col-sm-12">
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" method="POST" action="" enctype="multipart/form-data">
              <div class="box-body">
                
                <div class="row">
                <div class="form-group col-sm-6">
                    <label for="exampleInputEmail1">Category</label>
                    <select
                    class="form-control" 
                    id="category_id" 
                    name="category_id"
                    required>
                    <option value="">select</option>
                    <% for(var i=0; i<category.length; i++){ %>
                    <option  value="<%=category[i].id%>" >
                        <%=category[i].name%>
                    </option>
                    <%}%>
                    </select>
                  </div>


                  <div class="form-group col-sm-6">
                    <label for="exampleInputEmail1">Subcategory</label>
                    <select
                    class="form-control" 
                    id="subcategory_id" 
                    name="subcategory_id"
                    required>
                    </select>
                  </div>
                </div>
                  
                <div class="row">
                <div class="form-group col-sm-6">
                  <label for="exampleInputEmail1">Title</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  id="title" 
                  placeholder="Title" 
                  name="title"
                  value="<%=typeof product =='undefined'? '':product.name%>"
                  required>
                </div>
               
                <div class="form-group col-sm-6">
                  <label for="exampleInputFile">Image</label>
                  <input type="file" id="exampleInputFile" name="image">
                  <%if(typeof product !='undefined'){%>
                  <img src="<%=baseURL%><%=product.image%>" style="height: 150px;
                  width: 200px;"/>
                  <%}%>
                  <!-- <p class="help-block">Example block-level help text here.</p> -->
                </div>

              </div>
                
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group col-sm-3 custom-control-inline ">
                    <input type="radio" class="custom-control-input variant_type" id="type" name="type" value="non_variant" checked>
                    <label class="custom-control-label" for="customRadio2">Non Variant</label>
                  </div>
                  <div class="form-group col-sm-2 custom-control-inline">
                    <input type="radio" class="custom-control-input variant_type" id="type" name="type" value="variant">
                    <label class="custom-control-label" for="customRadio">Variant</label>
                  </div>
                </div>
               
                <!-- <div> -->
                  <!-- <button class="btn btn-danger btn-xs">Add</button> -->
                <!-- </div> -->
                <div class="form-group col-sm-6 price_div">
                  <label for="exampleInputEmail1">Price</label>
                  <input 
                  type="number" 
                  class="form-control" 
                  id="price" 
                  placeholder="Price" 
                  name="price"
                  value="<%=typeof product =='undefined'? '':product.price%>"
                  step="0.12"
                  oninput="this.value = 
                  !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                  required>
                </div>

              </div>

              <div class="variant_details_div">
              <div class="row">
               
                <div class="form-group col-sm-6">
                  <label for="exampleInputEmail1">Variant name</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  id="variant_name" 
                  placeholder="Variant Name" 
                  name="variant_name"
                  value="<%=typeof product =='undefined'? '':product.variant_name%>"
                  required>
                </div>


                <div class="col-sm-6">

                  <div class="form-group col-sm-3 custom-control-inline">
                    <input type="radio" class="custom-control-input rate_type" id="rate_type" name="rate_type" value="single_rate" checked>
                    <label class="custom-control-label" for="customRadio2">Single rate for all variants</label>
                  </div>

                  <div class="form-group col-sm-2 custom-control-inline">
                    <input type="radio" class="custom-control-input rate_type" id="rate_type" name="rate_type" value="individual_rate">
                    <label class="custom-control-label" for="customRadio">individual rate</label>
                  </div>

                  <div class="form-group col-sm-6">
                   <button type="button" class="btn btn-info btn-xs pull-right add_variant">Add</button>
                  </div>
                 
                 
                </div>
               
              </div>

              <div class="row">
               
                <div class="form-group col-sm-6 single_price_div">
                  <label for="exampleInputEmail1">Price</label>
                  <input 
                  type="number" 
                  class="form-control" 
                  id="price" 
                  placeholder="Price" 
                  name="price"
                  value="<%=typeof product =='undefined'? '':product.price%>"
                  step="0.12"
                  oninput="this.value = 
                  !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                  required>
                </div>

                
                <div class="form-group col-sm-6 variant_details_individual">
                  <label for="exampleInputEmail1">Name</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  id="name" 
                  placeholder="Name" 
                  name="name"
                  value="<%=typeof product =='undefined'? '':product.name%>"
                  required>
                </div>


                <div class="form-group col-sm-6 variant_details_individual">
                  <label for="exampleInputEmail1">Price</label>
                  <input 
                  type="number" 
                  class="form-control" 
                  id="price" 
                  placeholder="Price" 
                  name="price"
                  value="<%=typeof product =='undefined'? '':product.price%>"
                  step="0.12"
                  oninput="this.value = 
                  !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null"
                  required>
                </div>

              </div>

            </div>



              <!-- <div class="row"> -->
                <!-- <div class="form-group col-sm-6">
                  <label for="exampleInputFile">Description</label>
                  <textarea class="description" id="description" placeholder="Place some text here"
                  style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"></textarea>
                  <p class="help-block">Example block-level help text here.</p> -->
                <!-- </div>  -->
              <!-- </div> -->


            </div>
              <!-- /.box-body -->

          

              <div class="box-footer">
                <button type="submit" class="btn btn-primary" name="submit" value="submit">Submit</button>
              </div>
            </form>
          </div> 
        
       </div>
       <!-- /.col -->
     </div>
     <!-- /.row -->
   </section>
   <!-- /.content -->
 </div>
<%- include('../layouts/footer')%>

<script>
  $(document).ready(function(){

    $("#category_id").change(function(){
      var category_id = $(this).val();
      $.ajax({
            url:"/admin/get-subcategory",
            method:"POST",
            data:{category_id},
            success:function(response){
              console.log(response)
              $("#subcategory_id").html(response)
            }
      })
    })

    // $('.description').wysihtml5()
    
  })
  CKEDITOR.replace('description')
</script>


<script>
   $('.variant_details_div').hide();
   $('.variant_details_individual').hide();
  $(document).ready(function(){
     $(".variant_type").change(function(){
     var type = $(this).val();
     if(type=='variant'){
        $('.price_div').hide();
        $('.variant_details_div').show();
      }else{
        $('.price_div').show();
        $('.variant_details_div').hide();
      }
     })
  })
</script>


<script>
  
 $(document).ready(function(){
    $(".rate_type").change(function(){
     var type = $(this).val();
     if(type=='individual_rate'){
       $('.single_price_div').hide();
       $('.variant_details_individual').show();
     }else{
       $('.single_price_div').show();
       $('.variant_details_individual').hide();
     }
    })
 })
</script>


<script>
$(document).ready(function(){
  $('.add_variant').click(function(){
    $('.variant_details_div').append('<div class="row"> <div class="form-group col-sm-6"> <label for="exampleInputEmail1">Variant name</label> <input type="text" class="form-control" id="variant_name" placeholder="Variant Name" name="variant_name" value="" required> </div> <div class="col-sm-6"> <div class="form-group col-sm-3 custom-control-inline"> <input type="radio" class="custom-control-input rate_type" id="rate_type" name="rate_type" value="single_rate" checked> <label class="custom-control-label" for="customRadio2">Single rate for all variants</label> </div> <div class="form-group col-sm-2 custom-control-inline"> <input type="radio" class="custom-control-input rate_type" id="rate_type" name="rate_type" value="individual_rate"> <label class="custom-control-label" for="customRadio">individual rate</label> </div> <div class="form-group col-sm-6"><button type="button" class="btn btn-danger btn-xs pull-right add_variant">remove</button> </div> </div> </div> <div class="row"> <div class="form-group col-sm-6 single_price_div"> <label for="exampleInputEmail1">Price</label> <input type="number" class="form-control" id="price" placeholder="Price" name="price" value="<%=typeof product =='undefined'? '':product.price%>" step="0.12" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" required> </div> <div class="form-group col-sm-6 variant_details_individual"> <label for="exampleInputEmail1">Name</label> <input type="text" class="form-control" id="name" placeholder="Name" name="name" value="<%=typeof product =='undefined'? '':product.name%>" required> </div> <div class="form-group col-sm-6 variant_details_individual"> <label for="exampleInputEmail1">Price</label> <input type="number" class="form-control" id="price" placeholder="Price" name="price" value="<%=typeof product =='undefined'? '':product.price%>" step="0.12" oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" required> </div> </div');
  })
})
</script>
